<!DOCTYPE xhtml>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> World weather graph - set locality</title>
    <link rel='stylesheet' href='/styles/simple.css' type='text/css' media="screen, projection">
    <link rel='stylesheet' href='/styles/print.css' type='text/css' media="print">
    <link rel='shortcut icon' href='/images/favicon.ico'>
  </head>
  <body>
   <form method="post" action "select_locality">
   <% @localities.each { |item|%>
<!-- <p> <%= item %> </p>-->
      <input type="radio" name="loc" value="" /><%= item["areaName"][0]["value"] %>, <%= item["country"][0]["value"]%>, LAT:<%= item["latitude"]%>, LON:<%= item["longitude"]%>"<input type="hidden" name="locality" value="<%= item %>" /><br />
   <%   }  %>
   <input type="submit" value="Submit" />
   </form>
  </body>
</html>
